<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('https://kitt.lewagon.com/placeholder/cities/<%=flat.city_slug%>'); height: 50vh; background-position: center;"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="header-flat">
          <div class="header-flat-details">
            <div class="header-flat-owner text-center">
            <img src="https://kitt.lewagon.com/placeholder/users/<%=owner%>" class="img-circle" alt="">
            <p><%=owner%></p>
            </div>
            <div class="header-flat-name">
              <h1><%=flat.description%></h1>
              <p><%=flat.city_name %></p>
              <p class="rating">
                <i class="fa fa-star" style="color: purple"></i>
                <i class="fa fa-star" style="color: purple"></i>
                <i class="fa fa-star" style="color: purple"></i>
                <i class="fa fa-star" style="color: purple"></i>
                <i class="fa fa-star" style="color: grey"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

